<mat-card class="activity-card" *ngFor="let activity of activities">
  <mat-card-header>
    <mat-card-title>{{activity.title}}</mat-card-title>
    <mat-card-subtitle>{{activity.creator.name}} 是该活动的发起者</mat-card-subtitle>
    <mat-card-subtitle>started at {{activity.startedAt | date}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p style="padding: 0 .5em;">
      {{activity.desc ? activity.desc : '这个家伙很懒，什么都没有留下'}}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <span fxFlex></span>
    <button mat-icon-button color="primary">
      <mat-icon>edit</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
