<mat-card class="activity-card" *ngFor="let activity of activities$ | async">
  <mat-card-header>
    <mat-card-title>{{activity.title}}</mat-card-title>
    <mat-card-subtitle>{{activity.creator.name}} {{'DASHBOARD.CREATOR_HINT' | translate}}</mat-card-subtitle>
    <mat-card-subtitle>{{'DASHBOARD.STARTED_AT' | translate}} {{activity.startedAt | date}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p style="padding: 0 .5em;">
      {{activity.desc ? activity.desc : 'COMMON.DEFAULT_DESC' | translate}}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <span fxFlex></span>
    <button mat-icon-button color="primary" (click)="quit(activity)" *ngIf="activity | activityPermission:'quit'">
      <mat-icon>undo</mat-icon>
    </button>
    <button mat-icon-button color="primary" (click)="update(activity)" *ngIf="activity | activityPermission:'update'">
      <mat-icon>edit</mat-icon>
    </button>
    <button mat-icon-button color="accent" ngxClipboard [cbContent]="activity.id" (cbOnSuccess)="share()">
      <mat-icon>share</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
<app-load-more (loadMoreRequest)="loadMore()" *ngIf="pageInfo?.hasNextPage"></app-load-more>
<app-fixed-toggle icon="input" (clickRequest)="attendActivity()"></app-fixed-toggle>
