// Import all the tools needed to customize the theme and extract parts of it
@import '~@angular/material/theming';
// Define a mixin that accepts a theme and outputs the color styles for the component.
@mixin activity-theme($theme) {
    // Extract whichever individual palettes you need from the theme.
    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent); // Use mat-color to extract individual colors from a palette as necessary.
    .activity-create-panel {
        form {
            // border: 2px solid mat-color($mat-gray, 200);
            background: #fff;
            // border-top: none;
        }
    }
}
