<mat-list>
  <mat-divider></mat-divider>
  <h3 mat-subheader>{{'ACTIVITY.TIME' | translate}}</h3>
  <div class="activity-detail-content">
    <span class="list-text">{{activity.startedAt | date: "yyyy-MM-dd"}}</span>
    <span class="list-text">{{'DATE.TO' | translate}}</span>
    <span class="list-text">{{activity.endedAt | date: "yyyy-MM-dd"}}</span>
  </div>
  <h3 mat-subheader>{{'ACTIVITY.DESC' | translate}}</h3>
  <div class="activity-detail-content">
    {{activity.desc || 'COMMON.DEFAULT_DESC' | translate}}
  </div>
  <h3 mat-subheader>{{'ACTIVITY.PARTICIPANT' | translate}}</h3>
  <div class="activity-detail-content">
    <mat-chip-list *ngIf="activity.participants.length > 0; else noneBlock">
      <mat-chip *ngFor="let user of activity.participants">{{user.name}}</mat-chip>
    </mat-chip-list>
  </div>
  <ng-container *ngIf="activity.type === 'TASK'">
    <h3 mat-subheader>{{'ACTIVITY.TASK' | translate}}</h3>
    <div class="activity-detail-content task-list">
      <mat-list *ngIf="activity.tasks.length > 0; else noneBlock">
        <mat-list-item *ngFor="let task of activity.tasks">
          <div matLine fxLayout="row" fxLayoutAlign="start center">
            <span class="activity-task-item" fxFlex>
              {{task | taskStatusSuffix}}
            </span>
            <span fxFlex="1em"></span>
            <button mat-icon-button color="primary" (click)="taskOperationService.assign(task)" *ngIf="task | avaliableOperation:'assign'">
              <mat-icon>touch_app</mat-icon>
            </button>
            <button mat-icon-button color="primary" (click)="taskOperationService.start(task)" *ngIf="task | avaliableOperation:'start'">
              <mat-icon>play_circle_outline</mat-icon>
            </button>
            <button mat-icon-button color="primary" (click)="taskOperationService.done(task)" *ngIf="task | avaliableOperation:'done'">
              <mat-icon>done</mat-icon>
            </button>
            <button mat-icon-button color="warn" (click)="taskOperationService.stop(task)" *ngIf="task | avaliableOperation:'stop'">
              <mat-icon>block</mat-icon>
            </button>
            <button mat-icon-button color="accent" (click)="taskOperationService.reopen(task)" *ngIf="task | avaliableOperation:'reopen'">
              <mat-icon>restore</mat-icon>
            </button>
          </div>
        </mat-list-item>
      </mat-list>
    </div>
  </ng-container>
  <ng-container *ngIf="activity.type === 'HOST'; else noneBlock">
    <h3 mat-subheader>{{'ACTIVITY.RECIPES' | translate}}</h3>
    <div class="activity-detail-content recipes-list">
      <app-recipes-picker [editMode]="false" [recipes]="activity.recipes"></app-recipes-picker>
    </div>
  </ng-container>
</mat-list>

<!-- template -->
<ng-template #noneBlock>
  <mat-chip-list>
    <mat-chip>{{'COMMON.NONE' | translate}}</mat-chip>
  </mat-chip-list>
</ng-template>
