<div fxLayout="column" class="activity-list-wrapper">
  <mat-accordion>
    <mat-expansion-panel [expanded]="step === i" (opened)="step = i" *ngFor="let activity of activities$ | async; index as i">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <span class="list-text" matLine> {{'ACTIVITY.TYPE.' + activity.type | translate}} </span>
          <span class="list-text" matLine> {{activity.title}} </span>
          <span fxFlex></span>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <ng-template matExpansionPanelContent>
        <app-activity-detail [activity]="activity"></app-activity-detail>
      </ng-template>
      <mat-action-row>
        <button mat-icon-button color="primary" (click)="quit(activity)" *ngIf="activity | activityPermission:'quit'">
          <mat-icon>undo</mat-icon>
        </button>
        <button mat-icon-button color="primary" *ngIf="activity | activityPermission:'update'">
          <mat-icon (click)="update(activity)">edit</mat-icon>
        </button>
        <button mat-icon-button color="warn" *ngIf="activity | activityPermission:'delete'">
          <mat-icon (click)="delete(activity)">delete_forever</mat-icon>
        </button>
        <button mat-icon-button color="accent">
          <mat-icon ngxClipboard [cbContent]="activity.id" (cbOnSuccess)="share()">share</mat-icon>
        </button>
      </mat-action-row>
    </mat-expansion-panel>
  </mat-accordion>
  <!-- <app-load-more (loadMoreRequest)="loadMore()" *ngIf="pageInfo?.hasNextPage"></app-load-more> -->
</div>
<app-fixed-toggle (clickRequest)="create()"></app-fixed-toggle>
