<mat-list>
  <mat-divider></mat-divider>
  <h3 mat-subheader>{{'ACTIVITY.TIME' | translate}}</h3>
  <div class="activity-detail-content">
    <span class="list-text">{{activity.startedAt | date: "yyyy-MM-dd"}}</span>
    <span class="list-text">{{'DATE.TO' | translate}}</span>
    <span class="list-text">{{activity.endedAt | date: "yyyy-MM-dd"}}</span>
  </div>
  <h3 mat-subheader>{{'ACTIVITY.DESC' | translate}}</h3>
  <div class="activity-detail-content">
    {{activity.desc || 'COMMON.DEFAULT_DESC' | translate}}
  </div>
  <h3 mat-subheader>{{'ACTIVITY.PARTICIPANT' | translate}}</h3>
  <div class="activity-detail-content">
    <mat-chip-list>
      <mat-chip *ngFor="let user of activity.participants">{{user.name}}</mat-chip>
      <mat-chip *ngIf="activity.participants.length === 0">无</mat-chip>
    </mat-chip-list>
  </div>
  <h3 mat-subheader>{{'ACTIVITY.TASK' | translate}}</h3>
  <div class="activity-detail-content">
    <mat-list *ngIf="activity.tasks.length > 0">
      <mat-list-item *ngFor="let task of activity.tasks">
        <!-- <mat-icon matListIcon>folder</mat-icon> -->
        <div matLine> {{task.name}} </div>
      </mat-list-item>
    </mat-list>
    <mat-chip-list>
      <mat-chip *ngIf="activity.tasks.length === 0">{{'COMMON.NONE' | translate}}</mat-chip>
    </mat-chip-list>
  </div>
</mat-list>
