<div fxLayout="column" class="activity-create-panel" full>
  <mat-toolbar>
    <mat-toolbar-row>
      <span>{{(activity ? 'ACTIVITY.UPDATE' : 'ACTIVITY.CREATE') | translate}}</span>
      <span fxFlex></span>
      <mat-icon color="primary" matTooltip="确定" *ngIf="update$ | async" (click)="save()">done</mat-icon>
      <mat-icon color="primary" matTooltip="取消" *ngIf="update$ | async" (click)="cancel()">clear</mat-icon>
      <mat-icon color="warn" matTooltip="删除" *ngIf="activity" (click)="delete(activity)">delete</mat-icon>
    </mat-toolbar-row>
  </mat-toolbar>
  <form fxFlex [formGroup]="form">
    <mat-form-field full="width">
      <input matInput placeholder="{{'ACTIVITY.FORM.TITLE' | translate}}" formControlName="title" required>
      <mat-error>
        <div ngxErrors="title">
          <span ngxError="required" when="touched">
            {{'ACTIVITY.ERRORS.TITLE_REQUIRED' | translate}}
          </span>
        </div>
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-select placeholder="{{'ACTIVITY.FORM.TYPE' | translate}}" formControlName="type">
        <mat-option [value]="'HOST'">{{'ACTIVITY.TYPE.HOST' | translate}}</mat-option>
        <mat-option [value]="'TASK'">{{'ACTIVITY.TYPE.TASK' | translate}}</mat-option>
        <mat-option [value]="'POTLUCK'">{{'ACTIVITY.TYPE.POTLUCK' | translate}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <input matInput [min]="minStart" [max]="form.get('endedAt').value" [matDatepicker]="startPicker" placeholder="{{'ACTIVITY.FORM.START' | translate}}"
        formControlName="startedAt" required>
      <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
      <mat-datepicker #startPicker></mat-datepicker>
      <mat-error>
        <div ngxErrors="startedAt">
          <span ngxError="required" when="touched">
            {{'ACTIVITY.ERRORS.START_REQUIRED' | translate}}
          </span>
        </div>
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput [min]="form.get('startedAt').value" [matDatepicker]="endPicker" placeholder="{{'ACTIVITY.FORM.END' | translate}}"
        formControlName="endedAt" required>
      <mat-datepicker-toggle matSuffix [for]="endPicker"></mat-datepicker-toggle>
      <mat-datepicker #endPicker></mat-datepicker>
      <mat-error>
        <div ngxErrors="endedAt">
          <span ngxError="required" when="touched">
            {{'ACTIVITY.ERRORS.END_REQUIRED' | translate}}
          </span>
        </div>
      </mat-error>
    </mat-form-field>
    <mat-form-field full="width">
      <textarea matInput placeholder="{{'ACTIVITY.FORM.LOCATION' | translate}}" formControlName="location" matTextareaAutosize
        matAutosizeMinRows="1" matAutosizeMaxRows="4" required></textarea>
      <mat-error>
        <div ngxErrors="location">
          <span ngxError="required" when="touched">
            {{'ACTIVITY.ERRORS.LOCATION_REQUIRED' | translate}}
          </span>
        </div>
      </mat-error>
    </mat-form-field>
    <mat-form-field full="width">
      <textarea matInput placeholder="{{'ACTIVITY.FORM.DESC' | translate}}" formControlName="desc" matTextareaAutosize matAutosizeMinRows="1"
        matAutosizeMaxRows="4"></textarea>
    </mat-form-field>
  </form>
</div>
