<div fxLayout="column" class="create-recipe-panel" full>
  <app-update-page-toolbar [titleText]="titleText$ | async | translate" [updated]="updated$ | async" [isDetail]="isDetail$ | async"
    (actionReqest)="actionReqset($event)"></app-update-page-toolbar>
  <div fxFlex="200px" class="recipe-picture">
    <app-camera-trigger-card [url]="url" (changeRequest)="snapshot($event)"></app-camera-trigger-card>
  </div>
  <mat-divider></mat-divider>
  <div fxFlex="6px"></div>
  <div class="recipe-info">
    <form [formGroup]="form">
      <mat-form-field full>
        <input formControlName="name" matInput [placeholder]="'RECIPE.FORM.TITLE' | translate" required>
        <mat-error>
          <div ngxErrors="name">
            <span ngxError="required" when="touched">
              {{'RECIPE.ERRORS.NAME_REQUIRED' | translate}}
            </span>
          </div>
        </mat-error>
      </mat-form-field>
      <app-recipe-tag-field [tags]="tags" (addRequst)="addTagRequest($event)" (deleteRequest)="deleteTagRequest($event)"></app-recipe-tag-field>
      <mat-form-field full>
        <app-mat-slider formControlName="time" placeholder="{{'RECIPE.FORM.TIME' | translate}}"></app-mat-slider>
        <mat-hint>{{'RECIPE.HINT.TIME' | translate}}</mat-hint>
      </mat-form-field>
      <mat-form-field full>
        <textarea matInput placeholder="{{'RECIPE.FORM.DESC' | translate}}" matTextareaAutosize matAutosizeMinRows="2" matAutosizeMaxRows="5"></textarea>
        <mat-hint>{{'RECIPE.HINT.DESC' | translate}}</mat-hint>
      </mat-form-field>
    </form>
  </div>
</div>
