mat-nav-list {
    mat-list-item {
        &.active {
            background: rgba(0, 0, 0, .12);
        }
    }
}

.setting-item {
    width: 120px;
    button {
        width: 100%;
    }
    span {
        padding-left: 16px;
    }
}
