mat-sidenav-container {
  height: 100%;
}

.add-toggle {
  position: fixed;
  left: 1em;
  bottom: 1em;
}

mat-sidenav {
  width: 120px;
}

.page-wrapper {
  height: 100%;
  width: 100%;
  overflow: hidden;
  .content-wrapper {
      padding: .5em;
      overflow: auto;
  }
}
