<h2 mat-dialog-title>参加一个活动</h2>
<mat-dialog-content>
  <form [formGroup]="form" [noValidate]="true">
    <mat-form-field>
      <input matInput required placeholder="{{'DIALOG.ATTEND_ACTIVITY.DEFAULT_MESSAGE' | translate}}" formControlName="code" autofocus [errorStateMatcher]="formUtil.eagerInvalidMatcher"
      />
      <button mat-button *ngIf="form.get('code').value" matSuffix mat-icon-button aria-label="Clear" (click)="form.get('code').reset()">
        <mat-icon>close</mat-icon>
      </button>
      <mat-error>
        <div ngxErrors="code">
          <span ngxError="unExist" when="dirty">
            {{'DIALOG.ATTEND_ACTIVITY.ERRORS.UNEXISTED' | translate}}
          </span>
          <span ngxError="required" when="touched">
            {{'DIALOG.ATTEND_ACTIVITY.ERRORS.REQUIRED' | translate}}
          </span>
        </div>
      </mat-error>
    </mat-form-field>
  </form>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-raised-button mat-dialog-close>
    {{'DIALOG.ATTEND_ACTIVITY.DEFAULT_NO_TEXT' | translate}}
  </button>
  <button mat-raised-button (click)="attend()" color="primary">
    {{'DIALOG.ATTEND_ACTIVITY.DEFAULT_YES_TEXT' | translate}}
  </button>
</mat-dialog-actions>
