/* md theme */
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

$yuefou-app-primary: mat-palette($mat-deep-purple);
$yuefou-app-accent:  mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$yuefou-app-warn:    mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$yuefou-app-theme: mat-light-theme($yuefou-app-primary, $yuefou-app-accent, $yuefou-app-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($yuefou-app-theme);

// Import a pre-built theme
// @import "~@angular/material/prebuilt-themes/indigo-pink.css";

// Import your custom input theme file so you can call the custom-input-theme function
@import "app/shared/theme.scss";
@include shared-theme($yuefou-app-theme);

@import "app/profile/user-info/user-info-theme.scss";
@include user-info-theme($yuefou-app-theme);

@import "app/profile/activity/activity-theme.scss";
@include activity-theme($yuefou-app-theme);


// Using the $theme variable from the pre-built theme you can call the theming function

/* md override */
mat-form-field:not(:first-of-type) {
  margin: .5em 0 0 0;
}

/* util class */
.affix {
  position: fixed;
  z-index: 9999;
}

.list-text {
  padding: 0 .5em;
}

.major-text{
  color: rgba(0, 0, 0, .87);
}

.minor-text {
  color: rgba(0, 0, 0, .54);
}
