// Import all the tools needed to customize the theme and extract parts of it
@import '~@angular/material/theming';
// Define a mixin that accepts a theme and outputs the color styles for the component.
@mixin user-info-theme($theme) {
    // Extract whichever individual palettes you need from the theme.
    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent); // Use mat-color to extract individual colors from a palette as necessary.
    .user-info {
        &.navigator {
            background-color: mat-color($primary);
        }
        &.settings {
            background-color: rgba(0, 0, 0, .1);
        }
        img {
            border: 5px solid mat-color($primary, 200);
            background: #fff;
        }
    }
}
